body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #809099;
 
   
}
main{
   box-shadow: 5px 5px 10px black;
   max-width: 80%;
width: 30rem;
   background-color: pink;
   padding: 1.5rem;
   border-radius: 10px;
}
h1{
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 900;
}
hr{
    background-color: black;
}
p{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
h2{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}
ul{
    margin-top: 30px;
}
li{
    line-height: 1.5;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover{
   
    text-decoration: underline
    ;
}

